.jiePhoto {
    display: flex;
    float: right;
    max-width: 200px;

    border-radius: 500px;
    margin: 20px;
}

.yassiPhoto {
    max-width: 200px;

    border-radius: 500px;
    margin: 20px;
}